{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
     {% if category %}
          {{ category.description|truncatewords:155 }}
     {% else %}
          Welcome to ViVi store where you can buys different items....
     {% endif %}
{% endblock %}
{% block title %}
      {% if category %}
          {{ category.name }} - ViVi Store
      {% else %}
           See our New Collections -ECART Store
      {% endif %}
{% endblock %}

{% block content %}
    {% if category %}

        <div>
            <div class="row my_row_class">
                <div class="mx-auto">
<!--                 <p><a href="{% url 'shop:allProdCat' %}"><b>Our Product Collections</b></a></p>-->
                </div>
            </div>
        </div>
    {% endif %}
        <div class="mx_auto">
            {% if category %}
      <img class="my_image2" src="{{category.image.url}}" alt="{{category.name}}">
</div>
      <br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
      {% else %}
<div>
<img class ="my_image2 my_image_padding" src="{% static 'img/banner.png' %}" alt="our products">
</div>
<br>
<div >
    <h1 class="text-center my_title">Our products Collections</h1>
    <p class="text-justify">We’ve seen trends in ecommerce website design like animation, 360-degree product previews, advanced filtering, and dynamic product search.
      we offer unique products at discounted price with the best qualities, Our products are collected directly from the manufacturing hub and distribute
we have a well-defined cart you can add all the products and buy in bulk so that discount will be added. we also have home delivery , Cash on delivery etc. Our delivery
         will not be late our works are punctual 
 </p>
</div>
      {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="shadow card text-center" style="min-width:18rem;">
                <a  href="{{product.get_url}}"><img class="shadow card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                <div class="card-body">
                    <b><h4>{{product.name}}</h4>
                    <p>₹ {{product.price}}</p></b>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
    {% if products.paginator.num_pages > 1 %}

    <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}"}>{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}
